# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# App config
!/app/config/config.yml
!/app/config/parameters.yml

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/
!/web/.htaccess
/assets/

# Generated folders
/system/*
/system/modules/*/.skip
!/system/config/
/system/config/tcpdf.php
!/system/config/localconfig.php

# Contao Manager
/contao-manager/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Docker Compose Volume
www

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# PHPStorm files
/.idea/*

# NodeJs Modules
/node_modules

# Sass compiler files
*/*.map

#Environment Variables
.env

# Visual Studio Code
.vscode/*
!.vscode/launch.json